:root {
    --primary-100: #d6c8c8;
    --primary-200: #c9baba;
    --primary-300: #9D8A8A;

    --secondary-100: #f7f5ef;
    --secondary-300: #E9ECF8;
    --secondary-400: #AAB2D5;
    --secondary-500: #757FB2;

    --neutral-100: #c8a99f;
    --neutral-200: #be998d;
    --neutral-300: #a98175;
    --neutral-400: #8c6a60; 
    --neutral-500: #6b5048;

    --accent-100: #BAA89D;
    --background-000: #826056;
}

body {
    font-family: "JetBrains Mono", monospace;
    
    background-color: var(--secondary-100);
}

.contenedor {
    height: 100vh;
    max-height: 100vh;
    display: flex;
    width: 100%;
    max-width: 1130px;
    margin: 0 auto;
    padding: 0 30px;

}

.izquierda {
    width: 60%;
    height: 100%;
    padding-top: 40px;
}

form {
    padding-top: 60px;
    padding-left: 110px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: calc(100% - 148px);
}

form textarea {
    width: 100%;
    border: none;
    font-family: "JetBrains Mono", monospace;
    outline: none;
    color: var(--primary-300);
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    background-color: transparent;
}

form textarea::placeholder {
    color: var(--background-000);
}

button {
    width: 328px;
    height: 67px;
    background-color: transparent;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 10px;
    padding: 24px;
    font-family: "JetBrains Mono", monospace;
    font-size: 16px;
    line-height: 19px;
    outline: none;
}

.alerta {
    font-family: "JetBrains Mono", monospace;
    font-size: 12px;
    color: var(--background-000);
    opacity: 0.8;
    margin: 0 0 16px 8px;
}

.alerta img {
    margin-bottom: -4px;
}

.botones {
    display: flex;
    /* flex-wrap: wrap; agregado */
    gap: 30px;
}

button.bt-encriptar {
    background-color: var(--accent-100);
    color: #7E635A;
}

button.bt-desencriptar {
    background-color: #EFEBE0;
    color: var(--background-000);
}

.bt-copiar {
    width: 250px;
    margin-top: -30px;
    align-self: center; /* add this */
    background-color:#ffffff ;
    color: var(--background-000);
}

.bt-copiar:hover {
    background-color: var(--accent-100);
    color: var(--secondary-100);
    cursor: pointer; 
  }

.derecha {
    width: 100%;
    height: 85vh;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.521);
    border-radius: 32px;
    margin: 40px 10px 10px 20px;
    padding: 30px;
    overflow-y: auto;
    word-break: break-all;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.texto-encriptado p {
    overflow: auto;
}

.sin-resultado img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.titulo-sin-resultado {
    font-family: "JetBrains Mono", monospace;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: var(--neutral-500);

    max-width: 80%; 
    margin: auto; 
    text-align: center;
}


.sin-resultado p { 
    font-family: "JetBrains Mono", monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--neutral-400);
    text-align: center;
    word-break: break-word;
}

.texto-encriptado {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.texto-encriptado p {
    font-family: "JetBrains Mono", monospace;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    text-align: left;
    color: var(--neutral-400);
    word-break: break-all;
}

.d-none {
    display: none;
    pointer-events: none;
}

footer {
    text-align: center;
    color: #FFFFFF;
    background: linear-gradient(var(--primary-100), var(--primary-200), var(--primary-300));
    padding: 40px 0;
    display: block;
    height: auto;
}

.logo-link {
    height: 70px;
    margin: 15px 5px 20px 5px;
}

.logo-link:hover {
    transform: scale(1.2);
    transition-duration: 0.5s;
}



.error-message {
    display: none;
    background-color: var(--neutral-400);
    color: var(--secondary-100);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.error-message.show {
    display: block;
}